@font-face {
    font-family: 'INFO56';
    src: url('font/INFO56_0.ttf');
}

body{
    background-color: black;
	padding: 0px;
	margin: 0px;
    overflow:hidden;
}

#gameArea {
    position: absolute;
    left:     50%;
    top:      50%;
}

canvas {
    display: block; 
    margin:0 auto 0 auto; 
}

#viewport {
    width: 100%;
    height: 100%;


    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}







